<h1>Wellcome to RealPage</h1>

<table class="table">
    <tr>
        <th>History of Login </th>
        <th>User Name</th>
        <th>Date</th>
    </tr>
    <tr>
        <td>INICIOS</td>
        <td>INICIOS soleado</td>
        <td>INICIOS nublado</td>
    </tr>
    <tr>
        <td>NOMBRES</td>
        <td>NOMBRES</td>
        <td>NOMBRES2</td>
    </tr>
    <tr>
        <td>FECHAE 1</td>
        <td>FECHAE 2</td>
        <td>FECHA 3</td>
    </tr>

</table>